menuconfig ARCH_LEO_MPW
	bool "Nationalchip leo mpw family" if ARCH_MULTI_V7
	select HAVE_ARM_ARCH_TIMER
	select NATIONALCHIP_TIMER
	select ARM_AMBA
	select ARM_NATIONALCHIP
	select PINCTRL

if ARCH_LEO_MPW
config LEO_MPW_SUSPEND
	bool "Suspend to RAM on LEO mpw"
	help
	  Select this if you want to enable Suspend-to-RAM on LEO
	  platforms.
endif
