config NATIONALCHIP_COUNTER
	tristate "nationalchip counter"
	default	n
	help
	  Use nationalchip counter to achieve precise time management

config NATIONALCHIP_NPU
	tristate "nationalchip NPU"
	default	n
	help
	  This driver allows you to use NPU module to execute neural network.

config NATIONALCHIP_UART_MCTRL
	tristate "nationalchip uart flow control"
	default	n
	help
	  This driver allows you to use gpio to simulate uart flow control.

config NATIONALCHIP_OTP
	tristate "nationalchip otp"
	select MULTICORE_LOCK
	default	n
	help
	  This driver allows you to use otp.

menuconfig NATIONALCHIP_GXAVDEV
	tristate "nationalchip gxavdev modules select"
	default	n
	help
	  Use nationalchip gxavdev to achieve meida player

if NATIONALCHIP_GXAVDEV

config NATIONALCHIP_AUDIO_IN
	bool "nationalchip audio in"
	default	y

config NATIONALCHIP_AUDIO_PLAY
	bool "nationalchip audio play"
	default	y
	depends on NATIONALCHIP_GXALSA=n && NATIONALCHIP_GXASOC=n

config NATIONALCHIP_AUDIO_DECODE
	bool "nationalchip audio decode"
	default	y

config NATIONALCHIP_JPEG
	bool "nationalchip jpeg decode/encode"
	default	y

config NATIONALCHIP_CAMERA
	bool "nationalchip camera"
	default	y

endif
