#
# nationalchip audio configuration
#

config SND_SOC_NATIONALCHIP
	tristate "ASoC support for Nationalchip"
	select SND_PCM
	default n
	depends on SND_NATIONALCHIP_PCM=n
	help
		Use nationalchip gxasoc to achieve media player
