
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	pinctrl_0: pinctrl_0@0x2305000 {
		compatible = "nationalchip,LEO_A7-pinctrl";
		reg = <0x2305000 0x60>;
		interrupt-parent = <&intc>;
		interrupts = <13>;
			gpa0: gpa0 {
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-parent = <&intc>;
				interrupt-controller;
				#interrupt-cells = <2>;

				nationalchip,base_offset = <0x0>;
				nationalchip,reg_offset  = <0x0 0x10 0x1c 0x20 0x30 0x3c>;
				nationalchip,cfg_width   = <  1	   1	1	 4 	  1    1>;
				nationalchip,nr_pins     = <32>;
			};
			pwm0_group: pwm0_group {
				nationalchip,pins = "gpa0-28", "gpa0-29";
				nationalchip,pin-dir = <0x01>;
				nationalchip,pin-pwm_sel = <0x2>;
				nationalchip,pin-pwm_en = <0x01>;
			};
			/* 需要什么管脚输出pwm再相应添加*/
		};
	pinctrl_1: pinctrl_1@0x2306000 {
		compatible = "nationalchip,LEO_A7-pinctrl";
		reg = <0x2306000 0x60>;
		interrupt-parent = <&intc>;
		interrupts = <29>;
			gpa1: gpa1 {
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-parent = <&intc>;
				interrupt-controller;
				#interrupt-cells = <2>;

				nationalchip,base_offset = <0x0>;
				nationalchip,reg_offset  = <0x0 0x10 0x1c 0x20 0x30 0x3c>;
				nationalchip,cfg_width   = <  1	   1	1	 4 	  1    1>;
				nationalchip,nr_pins     = <32>;
			};
			/* 需要什么管脚输出pwm再相应添加*/
	};

	ck_pinctrl_0: ck_pinctrl_0@0x2305000 {
		compatible = "nationalchip,LEO_A7-pinctrl";
		reg = <0x305000 0x60>;
			ck_gpa0: ck_gpa0 {
				gpio-controller;
				#gpio-cells = <2>;

				nationalchip,base_offset = <0x0>;
				nationalchip,reg_offset  = <0x0 0x10 0x1c 0x20 0x30 0x3c>;
				nationalchip,cfg_width   = <  1	   1	1	 4 	  1    1>;
				nationalchip,nr_pins     = <32>;
			};
			/* 需要什么管脚输出pwm再相应添加*/
	};

	ck_pinctrl_1: ck_pinctrl_1@0x2306000 {
		  compatible = "nationalchip,LEO_A7-pinctrl";
		  reg = <0x306000 0x60>;
			ck_gpa1: ck_gpa1 {
				gpio-controller;
				#gpio-cells = <2>;

				nationalchip,base_offset = <0x0>;
				nationalchip,reg_offset  = <0x0 0x10 0x1c 0x20 0x30 0x3c>;
				nationalchip,cfg_width   = <  1    1    1 4    1    1>;
				nationalchip,nr_pins     = <32>;
			};
	};

	pwm0: pwm0@0x02305080 {
		compatible = "nationalchip,LEO_A7-pwm";
		reg = <0x02305080 0x7f>;
		clocks = <&ahb>;
		clock-frequency = <1000000>;
		#pwm-cells = <2>;
		status = "okay";
	};
	pwm1: pwm1@0x02306080 {
		compatible = "nationalchip,LEO_A7-pwm";
		reg = <0x02306080 0x7f>;
		clocks = <&ahb>;
		clock-frequency = <1000000>;
		#pwm-cells = <2>;
		status = "okay";
	};
};
